@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: theme("colors.blue.600");
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 2px;
  margin: 0, 2px;
}
.mosaic{
	filter: blur(3px);
}
.box{
  margin:12% auto;
  width:60%;
  min-height:100px;
  background:#333;
  will-change: auto;
  transition:ease-out all .3s;
}

.blur{
  -webkit-filter: url(#svgBlur);
  filter: url(#svgBlur);

}
.container{
  /* max-height:600px; */
  overflow-X: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
